# Eclipse
.classpath
.project
.settings/

# Intellij
**/.idea/
**/.idea/misc.xml
**/.idea/*
*.iml
*.iws
*.ipr

# Maven
log/
target/

# Gradle
.gradle
build/
release/
reports/

# Other
*.log
**/classes/*
catalina.*/
bin
*.episode
rpm_config_override/
activemq-data/
out/

.DS_Store

build
My Application.iml
local.properties
.idea/misc.xml
