# Eclipse
.classpath
.project
.settings/


# Intellij
**/.idea/
*.iml
*.iws
*.ipr

# Maven
log/
target/

# Gradle
.gradle
build/
reports/

# Other
*.log
**/classes/*
catalina.*/
bin
*.episode
rpm_config_override/
activemq-data/
out/

.DS_Store

build
My Application.iml
local.properties
